* {
    margin: 0;
    padding: 0;
}

.sidebar {
    font-size: 10px;
    font-family: sans-serif;
    background-color: aquamarine;
    width: 100px;
  
    padding: 0%;
}
.sidebar nav{
    background-color: crimson;
    width: 10vw;
    font-family: sans-serif;

}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
}
.container {
    display: flex;
}

.main {
    background-color: blueviolet;
    width: 80vw;
}